/* /Pages/App.razor.rz.scp.css */
main[b-gz2jgxt7ce] {
  font-family: 'Courier New', Courier, monospace;
  margin: auto;
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

main button[b-gz2jgxt7ce], main input[b-gz2jgxt7ce] {
  padding: 10px;
}
/* /Pages/Components/Table.razor.rz.scp.css */
.table[b-b3wdr9z0xf] {
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}

.table__row:nth-child(odd)[b-b3wdr9z0xf] {
  background-color: #eee;
}

.table__row:nth-child(even)[b-b3wdr9z0xf] {
  background-color: #ddd;
}

.table__cell[b-b3wdr9z0xf] {
  padding: 10px;
  text-align: center;
}
/* /Shared/MainLayout.razor.rz.scp.css */
